<div data-hook="login" class="card mt-5">
  <div class="card-header">
    <div class="flex-fill spree-logo text-center mt-2">
      <%= link_to spree.admin_path do %>
        <%= spree_admin_svg_tag "admin-ui-logo.svg", size: '150px * 45px' %>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <%= form_for Spree.user_class.new, as: :spree_user, url: spree.admin_create_new_session_path do |f| %>
      <div id="password-credentials">
        <div class="form-group form-floating">
          <%= f.email_field :email, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
          <%= f.label :email %>
        </div>
        <div class="form-group form-floating">
          <%= f.password_field :password, class: 'form-control', tabindex: 2, placeholder: Spree.t(:password) %>
          <%= f.label :password %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-12">
            <div class="form-check">
              <%= f.check_box :remember_me, class: 'form-check-input', tabindex: 3 %>
              <%= f.label :remember_me, Spree.t(:remember_me), class: 'form-check-label' %>
            </div>
          </div>

        </div>
      </div>


      <div class="form-group pt-2">
        <%= f.submit Spree.t(:login), :class => 'btn btn-primary w-100', :tabindex => 4 %>
      </div>

      <div class="row">
        <div class="col-12 text-end pt-2">
          <%= link_to Spree.t(:forgot_password), spree.admin_recover_password_path %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div data-hook="login_extras"></div>
