<div id="forgot-password" class="card mt-5">
  <div class="card-body">
    <%= render partial: 'spree/admin/shared/error_messages', locals: { target: @spree_user } %>

    <h5>
      <%= Spree.t(:forgot_password) %>
    </h5>

    <p>
      <%= Spree.t(:instructions_to_reset_password) %>
    </p>

    <%= form_for Spree.user_class.new, as: :spree_user, url: spree.admin_reset_password_path, data: { turbo: false } do |f| %>
      <div class="form-group form-floating">
        <%= f.email_field :email, class: 'form-control', placeholder: Spree.t(:email), required: true %>
        <%= f.label :email, Spree.t(:email) %>
      </div>

      <%= f.submit Spree.t(:reset_password), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
